.stm-cta {
	position: relative;
	z-index: 92;
	background: $green;
	border-top: 4px solid $blue;
}

.stm-cta__content {
	display: table;
	width: 100%;
}

.stm-cta__image {
	display: table-cell;
	vertical-align: middle;
}

.stm-cta__action {
	display: table-cell;
	width: 1000px;
	vertical-align: middle;
	padding: {
		top: 10px;
		bottom: 10px;
		left: 65px;
		right: 65px;
	}
}

.stm-cta__action-title {
	margin: 0 0 19px 0;
	font: {
		weight: 300;
	}
	color: $white;
}

.stm-cta__action-body {
	display: table;
	width: 100%;
}

.stm-cta__action-descr {
	display: table-cell;
	width: 10000px;

	p {
		line-height: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		color: inherit;
	}

	color: $white;
}

.stm-cta__action-btn {
	display: table-cell;
	vertical-align: top;
	padding-top: 10px;

	.stm-btn__icon {
		margin-top: 1px;
		font: {
			size: 6px;
		}
	}
}