.stm-icon-box__ic-container_img {
	img {
		width: 1em;
		display: inline-block;
		height: auto;
	}
}

// Style 1
.stm-icon-box_style-1 {
	position: relative;
	background: $white;
	padding: {
		left: 30px;
		right: 30px;
		top: 41px;
		bottom: 46px;
	}

	.stm-icon-box__ic-container {
		font-size: 44px;
		color: $blue;
	}

	.stm-icon-box__content {
		position: relative;
		z-index: 2;
	}

	.stm-icon-box__title-small {
		margin-bottom: 6px;
		font-size: 18px;
		line-height: normal;
		color: $dark-blue;
	}

	.stm-icon-box__title {
		margin-bottom: 31px;
		font: {
			size: 36px;
			weight: 300;
		}
		line-height: 1;
		color: $dark-blue;
	}

	.stm-icon-box__sep {
		margin-bottom: 31px;
	}

	.stm-icon-box__sep-line {
		border: none;
		border-bottom: 2px solid $blue;
		margin: 0 auto;
		width: 60px;
	}

	.stm-icon-box__descr {
		font-size: 16px;
		line-height: 30px;
		color: $dark-gray;
	}

	&.stm-icon-box_ic-pos_top {
		.stm-icon-box__ic-container {
			margin-bottom: 17px;
		}
	}

	&.stm-icon-box_ic-pos_left {
		.stm-icon-box__ic-container {
			float: left;
		}

		.stm-icon-box__content {
			overflow: hidden;
			padding-left: 25px;
		}
	}

	.stm-icon-box__step {
		position: absolute;
		bottom: 0; right: 0;
		z-index: 1;
		font: {
			size: 120px;
			weight: 900;
		}
		color: #f8f8f8;
		line-height: 1;
	}
}

// Style 2
.stm-icon-box_style-2 {
	@include clearfix();

	&.stm-icon-box_ic-pos_left {
		.stm-icon-box__ic-container {
			float: left;
			margin-top: 1px;
		}

		.stm-icon-box__content {
			overflow: hidden;
			padding-left: 10px;
		}

		.stm-icon-box__title {
			font-size: 13px;
			color: #999999;
		}
	}
}

// Style 3
.stm-icon-box_style-3 {
	display: table;
	@include clearfix();

	.stm-icon-box__content,
	.stm-icon-box__ic-container {
		display: table-cell;
		vertical-align: middle;
	}

	.stm-icon-box__title {
		margin-bottom: 3px;
		font-size: 16px;
		line-height: 24px;

		a {
			color: inherit;
			text-decoration: none;
			@include transition();

			&:hover {
				color: $blue;
			}
		}
	}

	.stm-icon-box__sub-title {
		font: {
			size: 13px;
			style: italic;
		}
		color: $gray;
	}

	&.stm-icon-box_ic-pos_left {
		.stm-icon-box__content {
			padding-left: 20px;
		}
	}
}

// Style 4
.stm-icon-box_style-4 {
	position: relative;
	background: $white;
	padding: 40px;

	.stm-icon-box__ic-container {
		font-size: 61px;
		color: $green;
	}

	.stm-icon-box__content {
		position: relative;
		z-index: 2;
	}

	.stm-icon-box__title {
		margin: {
			top: -6px;
			bottom: 12px;
		};
		font: {
			size: 24px;
			weight: 300;
		}
		line-height: 30px;
		color: $dark-blue;
	}

	.stm-icon-box__descr {
		margin-bottom: 23px;
		font-size: 14px;
		line-height: 24px;
		color: $dark-gray;
	}

	&.stm-icon-box_ic-pos_top {
		.stm-icon-box__ic-container {
			margin-bottom: 4px;
		}
	}

	&.stm-icon-box_ic-pos_left {
		.stm-icon-box__ic-container {
			float: left;
		}

		.stm-icon-box__content {
			overflow: hidden;
			padding-left: 25px;
		}
	}

	.stm-icon-box__step {
		position: absolute;
		bottom: -14px; right: -5px;
		z-index: 1;
		font: {
			size: 120px;
			weight: 900;
		}
		color: #f8f8f8;
		line-height: 1;
	}
}
