#frontend_customizer {
	position: fixed;
	top: 50%;
	left: -233px;
	width: 233px;
	background: $dark-blue;
	z-index: 999;
	color:#ffffff;
	margin: -234px 0 0;
	transition: all 0.5s ease;
}

#frontend_customizer.open {
	left: 0;
}

#frontend_customizer_button {
	position: absolute;
	right: -43px;
	top: 50%;
	margin: -20px 0 0 0;
	width: 43px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 22px;
	line-height: 38px;
	background: $dark-blue;
	transition: all 0.2s linear;
}

#frontend_customizer_button:hover {
	background: $blue !important;
	color: #fff;
}

#frontend_customizer_button:hover:before {
	border-right-color: #353535 !important;
}

#frontend_customizer .customizer_wrapper {
	padding: 30px;
	height: 100%;
	overflow-y: auto;
	transition: all 0.5s ease;
}

#frontend_customizer h3 {
	font-size: 14px;
	color: #909090;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 12px;
	padding: 0;
	text-align: center;
}

#frontend_customizer h3:after {
	display: none;
}

#frontend_customizer h3:before {
	display: none;
}

#frontend_customizer .customizer_element {
	margin: 0 0 30px;
}

#frontend_customizer select {
	width: 100%;
	border-radius: 4px;
	background: #fff;
	outline: none !important;
	height: 27px;
	line-height: 27px;
	font-size: 12px;
	color: #767676;
	font-family: "Open Sans", Arial, sans-serif;
	border: none;
	box-shadow: none;
}
.stm_switcher {
	position: relative;
	padding: 5px 0 0;
	cursor: pointer;
	margin: 0 0 20px;
}

.stm_switcher > * {
	display: inline-block;
	vertical-align: middle;
}

.stm_switcher .switcher_nav {
	position: relative;
	width: 42px;
	height: 24px;
	background: rgba( $white, .35 );
	border-radius: 30px;
	margin: 0 13px;
}

.stm_switcher .switcher_nav:before {
	content: '';
	position: absolute;
	left: 3px;
	top: 50%;
	transform: translateY(-50%);
	width: 19px;
	height: 19px;
	background: #fff;
	border-radius: 100%;
}

.stm_switcher.active .switcher_nav:before {
	left: auto;
	right: 3px;
}

.stm_switcher .switcher_label{
	font-size: 12px;
	color: #767676;
	font-style: italic;
}

.stm_switcher .switcher_label.disable,
.stm_switcher.active .switcher_label.enable {
	color: #ffffff;
}

.stm_switcher .switcher_label:first-child {
	width: 55px;
	text-align: right;
}

.stm_switcher.active .switcher_label.disable {
	color: #767676;
}

.customizer_colors{
	position: relative;
	margin: 0 -10px;
	text-align: center;
}

.customizer_colors span {
	margin: 0 5px 10px;
	display: inline-block;
	vertical-align: top;
	width: 31px;
	height: 31px;
	border: 1px solid rgba( $white, .35 );
	outline: 1px solid transparent;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
}

.customizer_colors #skin-green {
	background-image: url("../../img/frontend-customizer/preview-color-1.png");
}

.customizer_colors #skin-orange {
	background-image: url("../../img/frontend-customizer/preview-color-2.png");
}

.customizer_colors #skin-purple {
	background-image: url("../../img/frontend-customizer/preview-color-3.png");
}

.customizer_colors #skin-red {
	background-image: url("../../img/frontend-customizer/preview-color-4.png");
}

.customizer_colors span.active{
	outline-color: $white;
	border-color: #fff !important;
}