// Notice
.notice {
  position: relative;
  padding: 24px 68px 24px 30px;
  background: $white;
  border-width: 1px;
  border-style: solid;
  line-height: 30px;
}

.notice__hide {
  position: absolute;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: rgba( #030303, .25 );
  cursor: pointer;
}

// Notice: Information
.notice_information {
  border-color: $blue;
  color: $blue;
}


// Notice: Success
.notice_success {
  border-color: $green;
  color: $green;
}