.stm-contact-person {
	@include clearfix();
}

.stm-contact-person__photo {
	float: left;
	max-width: 100px;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.stm-contact-person__data {
	overflow: hidden;
	padding-left: 20px;
}

.stm-contact-person__question {
	margin: {
		top: -3px;
		bottom: 11px;
	};
	font-size: 14px;
	line-height: normal;
	color: $dark-gray;
}

.stm-contact-person__name {
	margin: 0 0 11px 0;
	font-size: 18px;
	line-height: normal;
	color: $dark-blue;
}

.stm-contact-person__contacts {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.stm-contact-person__contact {
	position: relative;
	padding-left: 30px;
	color: $dark-gray;

	&:not(:last-child) {
		margin-bottom: 5px;
	}

	&:before {
		position: absolute;
		left: 0;
		top: 2px;
		@include theme-icon;
		color: $dark-red;
	}
}

.stm-contact-person__contact_type_tel {
	a {
		color: $dark-gray;
		text-decoration: none;
	}
	&:before { content: "\e904"; }
}

.stm-contact-person__contact_type_email {
	&:before {
		content: "\e913";
		top: 4px;
        font-size: 13px;
	}
}