.stm-text-carousel__item-title {
  line-height: normal;
}

.stm-media-gallery__title-separator {
  width: 60px;
  margin: 0 0 52px 0;
  border: none;
  border-top-width: 2px;
  border-top-style: solid;
}

.stm-text-carousel {
  .stm-text-carousel__item-title {
    line-height: normal;
    margin: 0 0 26px 0;
  }

  .stm-text-carousel__item-text {
    line-height: 30px;
  }
}

.stm-text-carousel__controls {
  position: relative;
  overflow: hidden;
  margin-top: 45px;

  &:after {
    content: "";
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: {
      right: -100%;
      left: 12px;
    }
  }
}

.stm-text-carousel__controls_view_media-gallery {
  margin-right: -30px;
}

.stm-text-carousel__dots {
  display: inline-block;
  vertical-align: top;

  .owl-dot {
    margin-left: 2px;
    display: inline-block;
    margin-right: 20px;

    span {
      display: block;
      width: 8px;
      height: 8px;
      background: rgba( $dark-blue, .25 );
      border-radius: 50%;
      cursor: pointer;
      @include transition();
    }

    &.active,
    &:hover {
      span {
        background: $green;
      }
    }

    &.active span {
      transform: scale(1.5);
    }
  }
}

.stm-media-gallery__action {
  margin-top: 69px;

  .stm-btn_icon_left i {
    padding-right: 14px;
  }
}

.stm-media-gallery__action_centered {
  text-align: center;
}

.stm-video-carousel__item {
  position: relative;
}

.stm-video-carousel__item-poster {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 2;
  @include transition();
}

.stm-video-carousel__item-poster_state_hidden {
  opacity: 0;
  visibility: hidden;
}

.stm-video-carousel__item-play {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 80px;
  height: 80px;
  padding: {
    top: 27px;
    left: 30px;
  }
  margin: auto;
  background: rgba($dark-red, .8);
  border: 2px solid $white;
  border-radius: 50%;
  font-size: 24px;
  color: $white;
  text-decoration: none;
  z-index: 3;
  @include transition();

  &:focus {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background: $dark-blue;
    color: $white;
    text-decoration: none;
  }
}

.stm-media-gallery_format_audio {

  iframe {
    margin-bottom: 19px;
  }

  .stm-media-gallery__item-title {
    margin: {
      top: -6px;
      bottom: 8px;
    }
    line-height: 36px;
    font-size: 24px;
  }

  .stm-media-gallery__action {
    margin-top: 46px;
  }
}

.stm-media-gallery__actions-bar {
  margin-bottom: 40px;
  @include clearfix();
}

.stm-media-gallery__filters {
  float: left;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  @include clearfix();
}

.stm-media-gallery__filter {
  position: relative;
  float: left;
  margin-left: 5px;
}

.stm-media-gallery__filter:first-child {
  margin-left: 0;
}

.stm-media-gallery__filter-link {
  display: block;
  padding: 6px 30px 2px;
  min-width: 154px;
  text-align: center;
  font-size: 14px;
  line-height: 46px;
  font-weight: 600;
  text-transform: capitalize;
  color: $dark-blue;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

  &:focus {
    text-decoration: none;
    color: $dark-blue;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
  @include transition('color');

  .stm-media-gallery__filter_active & {
    color: $white;

    &:before {
      height: 100%;
      background-color: $dark-blue;
    }

    &:hover {
      color: $white;
      cursor: default;
    }
  }
}

.stm-media-gallery__filter-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: $dark-red;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  z-index: -1;
}

.stm-media-gallery__filter-link:hover::before {
  height: 100%;
}

.stm-media-gallery__layout-wide {
  height: 50px;
  width: 50px;
  position: relative;
  float: right;
  border-radius: 5px;
  border: 2px solid $dark-red;
  font-size: 8px;
  color: $dark-blue;
  @include transition();

  &:focus {
    text-decoration: none;
    color: $dark-blue;
  }

  &:hover {
    background: $dark-red;
    color: $white;
    text-decoration: none;
  }

  .stm-icon {
    @include transition(transform);
    transform: translateZ(0);
  }

  .stm-icon-arrow-top-right {
    position: absolute;
    top: 13px; right: 13px;
  }

  .stm-icon-arrow-bottom-left {
    position: absolute;
    bottom: 13px; left: 13px;
  }
}

.stm-media-gallery__layout-wide_active {
  .stm-icon-arrow-top-right {
    transform: translateY(12.9px) translateX(-12px);
  }

  .stm-icon-arrow-bottom-left {
    transform: translateY(-12.9px) translateX(12.5px);
  }
}

.stm-media-gallery__items {
  position: relative;

  .row {
    position: relative;
  }
}

.stm-media-gallery__item-col {
  margin-bottom: 30px;
  transform: translateZ(0);
}

.stm-media-gallery__items_wide {
  .stm-media-gallery__items-row {
    margin: 0;
  }
  .stm-media-gallery__item-col {
    margin-bottom: 0;
    padding: 0;
  }
}

.stm-media-gallery__item {
  position: relative;
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.stm-media-gallery__item-fancybox {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($black, .50);

  .fa,
  .stm-icon {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 56px;
    margin: auto;
    border-radius: 50%;
    font-size: 28px;
    color: $white;
    z-index: 3;
  }

  .stm-icon-play {
    padding-left: 4px;
  }

  .fa-music {
    padding-right: 3px;
  }

  .fa-camera {
    padding-top: 1px;
  }

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.stm-filter_carousel {
  margin-bottom: 48px;
}

.stm-carousel_wide {
  .stm-carousel__item {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    @include transition(opacity);

    img {
      display: block;
      max-width: 100%;
      height: auto;
      transform: translateZ(0);
    }
  }

  &.owl-loaded {
    .stm-carousel__item {
      position: relative;
      opacity: 1;
    }
  }
}

// Centered
.stm-carousel_centered .owl-stage {
  margin: 0 auto;
}

.stm-media-list-one {
  float: left;
  width: 54%;
  padding: 0;

  li {
    list-style: none;
    position: relative;

    .stm-media-list-thumbnail {
      display: block;
      position: relative;
      overflow: hidden;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -webkit-transition: all 0.6s ease-out;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0;
        z-index: 1;
        @include transition();
      }

      &:after {
        content: "\e930";
        font-family: 'stm-icon';
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        margin-top: -10px;
        margin-left: -20px;
        font-size: 28px;
        color: $white;
        z-index: 1;
      }
    }

    .stm-media-list-title {
      display: block;
      padding: 30px 0 14px;
      font-size: 18px;
      color: $black;
    }

    .stm-media-list-desc {
      display: block;
      line-height: 30px;
      font-family: 'Work Sans', sans-serif;
      font-size: 15px;
      cursor: default;
      color: $gray;
    }

    a:hover .stm-media-list-thumbnail:before {
      opacity: 0.5;
    }

    a:hover .stm-media-list-thumbnail:after {
      opacity: 1;
    }

    a:hover .stm-media-list-thumbnail img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }

    a:hover .stm-media-list-title {
      color: $dark-red;
    }

    .stm-media-gallery__item-fancybox {
      .fa,
      .stm-icon {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 5px;
        left: 8px;
        width: auto;
        height: auto;
        text-align: left;
        line-height: 18px;
        margin: auto;
        border: none;
        border-radius: 0;
        font-size: 15px;
        color: $white;
        z-index: 3;
        transform: translateZ(0);
      }
    }
  }
}

.stm-media-list {
  float: right;
  width: 42.4%;
  padding: 0;

  li {
    list-style: none;
    position: relative;
    margin-bottom: 20px;

    .stm-media-list-thumbnail {
      display: table-cell;
      position: relative;
      overflow: hidden;
      vertical-align: top;
      width: 150px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -webkit-transition: all 0.6s ease-out;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0;
        z-index: 1;
        @include transition();
      }

      &:after {
        content: "\e930";
        font-family: 'stm-icon';
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        margin-top: -10px;
        margin-left: -20px;
        font-size: 28px;
        color: $white;
        z-index: 1;
      }
    }

    .stm-media-list-content {
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px;
    }

    .stm-media-list-title {
      line-height: 26px;
      font-size: 15px;
      color: $black;
    }

    a {
      display: table;
      position: relative;
      background: transparent;
      height: auto;

      &:hover .stm-media-list-thumbnail img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
      }

      &:hover .stm-media-list-thumbnail:before {
        opacity: 0.5;
      }

      &:hover .stm-media-list-thumbnail:after {
        opacity: 1;
      }

      &:hover .stm-media-list-title {
        color: $dark-red;
      }
    }

    .stm-media-gallery__item-fancybox {
      .fa,
      .stm-icon {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 5px;
        left: 8px;
        width: auto;
        height: auto;
        text-align: left;
        line-height: 18px;
        margin: auto;
        border: none;
        border-radius: 0;
        font-size: 15px;
        color: $white;
        z-index: 3;
        transform: translateZ(0);
      }
    }
  }
  li:first-child {
    display: none;
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.stm-media-gallery__item-icon {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 5px;
  left: 8px;
  width: auto;
  height: auto;
  text-align: left;
  line-height: 18px;
  margin: auto;
  border: none;
  border-radius: 0;
  font-size: 15px;
  color: #fff;
  z-index: 3;
  transform: translateZ(0);
}

.stm-media-list-one.just-video {
  width: 48.7%;

  .stm-media-gallery__item-fancybox {
    position: relative;
  }
}

.stm-media-list.just-video {
  width: 48.7%;
}

.stm-media-list.just-photo {
  float: none;
  width: auto;
  margin: 0 -7.5px;

  li {
    float: left;
    width: 33.333333%;
    padding: 0 7.5px;
  }

  li:first-child {
    display: block;
  }
}

.stm-carousel_wide.just-photo {
  .owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    .owl-nav div {
      position: absolute;
      top: -25px;
      left: 20px;
      width: 50px;
      height: 50px;
      line-height: 48px;
      text-align: center;
      border: 2px solid $white;
      border-radius: 5px;
      font-size: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #002147;
        opacity: 0.25;
      }
    }

    .owl-prev:after {
      content: "\f104";
      position: relative;
      font-family: 'FontAwesome';
      font-size: 18px;
      color: $white;
      z-index: 1;
    }

    .owl-next {
      left: auto !important;
      right: 20px !important;
    }

    .owl-next:after {
      content: "\f105";
      position: relative;
      font-family: 'FontAwesome';
      font-size: 18px;
      color: $white;
      z-index: 1;
    }

  }


}