.stm-more-link {
  position: relative;
  padding-bottom: 6px;
  line-height: 30px;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 14px;
  color: $dark-blue !important;
}

.stm-more-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 42px;
  height: 2px;
  background-color: $dark-red;
  @include transition(width, .3s);
}

.stm-more-link:hover:after {
  width: 100%;
}