.stm-text-box {
	padding: 44px 50px;
}

.stm-text-box__sep {
	width: 60px;
	margin: 0 0 44px 0;
	border-top-width: 2px;
}

.stm-text-box__text  {
	* {
		color: inherit;

		&:before {
			color: inherit;
		}
	}

	h4 {
		margin-bottom: 19px;
	}

	p {
		line-height: inherit;
		color: inherit;
	}

	ul,
	ol {
		&:not(:last-child) {
			margin-bottom: 39px;
		}
	}
}

.stm-text-box__action {
	@include clearfix();
}