.content {
  min-height: 520px;
  padding: {
    top: 80px;
    bottom: 100px;
  }

  .single-stm_course &,
  .single-stm_teacher & {
    padding: 0;
  }
}

.content_type_vc {
  padding: 0;
}

.vc_row[data-vc-full-width] {
  overflow: visible !important;

  &.vc_parallax {
    overflow: hidden !important;
  }
}
