// Green
.stm-bg_color_green {
	background-color: $green !important;
}

.stm-background_color_green {
	background-color: $green !important;
}

.stm-border_color_green {
	border-color: $green !important;
}

.stm-font_color_green {
	color: $green !important;
}

.stm-border-bottom_color_green {
	border-bottom-color: $green !important;
}

// Blue
.stm-bg_color_blue {
	background-color: $blue !important;
}

.stm-background_color_blue {
	background-color: $blue !important;
}

.stm-border_color_blue {
	border-color: $blue !important;
}

.stm-font_color_blue {
	color: $blue !important;
}

.stm-icon_color_blue {
	color: $blue !important;
}

.stm-border-bottom_color_blue {
	border-bottom-color: $blue !important;
}

// Dark Blue
.stm-bg_color_dark-blue {
	background-color: $dark-blue !important;
}

.stm-background_color_dark-blue {
	background-color: $dark-blue !important;
}

.stm-font_color_dark-blue {
	color: $dark-blue !important;
}

.stm-border_color_dark-blue {
	border-color: $dark-blue !important;
}

// Gray
.stm-font_color_gray {
	color: $gray;
}

// Dark Gray
.stm-font_color_dark-gray {
	color: $dark-gray;
}