.breadcrumbs {
  margin-bottom: 38px;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  color: $gray;

  a {
    position: relative;
    color: $dark-blue;
  }

  em {
    font-style: normal;
    margin: 0 15px;
  }

}

.stm-page-head__content {
  .breadcrumbs {
    margin-bottom: 32px;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    color: rgba($white, 0.7);

    a {
      position: relative;
      color: $white;
    }

    em {
      font-style: normal;
      margin: 0 15px;
    }

  }
}