.stm-page-head {
	position: relative;
	background-position: bottom center;
	background: $lilac;
	padding: 22px 0 78px;
	background-size: cover;

    .breadcrumbs {
      color: $white;

      a {
        color: $white;

        &:hover {
          color: $yellow;
        }
      }
    }

    .stm-page-head__separator {
      display: none;
    }
}

// Overlay
.stm-page-head__overlay {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

.stm-page-head__content {
	position: relative;
	z-index: 1;
}

.stm-page-head__title {
	font: {
		weight: 300
	}
	color: $white;
	margin-bottom: 28px;
}

// Separator
.stm-page-head__separator-line {
	width: 60px;
	height: 2px;
	background: $pink;
}

.stm-page-head_has_subtitle {
	.stm-page-head__separator {
		margin-bottom: 41px;
	}
}

.stm-page-head__subtitle {
    margin-bottom: 45px;
    max-width: 800px;

	font: {
		size: 18px;
		weight: 700;
	}
	line-height: 28px;
}

// Size
.stm-page-head_size_small {
	padding: {
		top: 22px;
		bottom: 28px;
	}
}

.stm-page-head_size_medium {
	padding: {
		top: 22px;
		bottom: 28px;
	}

    .stm-page-head__title {
      padding: 50px 0;
    }
}

// Color
.stm-page-head_color_white {

	.stm-page-head__title,
	.stm-page-head__subtitle {
		color: $white;
	}

	.stm-page-head__separator-line {
		background: $pink;
	}

	.stm-page-head__subtitle {
		color: $white;
	}

	.stm-page-head__overlay {
		background: rgba( $lilac, .50 );
	}

}

// Shopping cart
.stm-page-head_has_shopping-cart {
	.stm-page-head__content {
		float: left;
	}

	.shopping-cart {
		margin-top: 9px;
		float: right;
	}
}
