// General
.wpb_revslider_element {
	margin-bottom: 0 !important;
}

// Bullets
.tp-bullets.stm-white {
	.tp-bullet {
		border-radius: 50%;
		width: 8px;
		height: 8px;
		background: rgba($white, .25);

		&:hover,
		&.selected {
			background: $green;
		}

		&.selected {
			transform: scale(1.2);
		}
	}
}

.darkBlueOverlay {
	&.tp-shape {
		background: rgba( $dark-blue, .4 ) !important;
	}
}

.rev-btn {
	&.blueSquareArrow {
		width: 50px;
		padding: 0;
		line-height: 46px;
		border: 2px solid $blue;
		background: transparent;
		font-family: "Arial", sans-serif;
		font-size: 16px;
		color: $dark-blue;
		text-align: center;

		&:hover {
			color: $white;
			background: $blue;
		}
	}

	&.whiteSquareArrow {
		width: 50px;
		padding: 0;
		line-height: 46px;
		border: 2px solid $blue;
		background: transparent;
		font-family: "Arial", sans-serif;
		font-size: 16px;
		color: $white;
		text-align: center;

		&:hover {
			color: $white;
			background: $blue;
		}
	}
}

.stm-rev-nav {
	@include clearfix();
	min-width: 100px;

	.stm-rev-nav_next,
	.stm-rev-nav_prev {
		float: left;
		width: 50px;
		height: 50px;
		line-height: 46px !important;
		background: transparent;
		border: 2px solid $blue;
		color: $white;
		font-size: 16px !important;
		font-family: "Arial", sans-serif;
		text-align: center;

		&:hover {
			text-decoration: none;
			color: $white;
			background: $blue;
		}

		&:focus {
			text-decoration: none;
		}
	}

	.stm-rev-nav_prev {
		margin-right: -2px;
	}
}

.STM-Nav-Blue {
	.stm-rev-nav {
		.stm-rev-nav_next,
		.stm-rev-nav_prev {
			color: $dark-blue;

			&:hover {
				color: $white;
			}
		}
	}
}

// Button - Blue
.btnBlueSecondary a,
.btnBlue a {
	border: 2px solid $blue !important;
	min-width: 160px !important;
	display: inline-block !important;
	color: $white !important;
	line-height: 46px !important;
	padding: 0 24px !important;
	text-align: center !important;
	font-size: 16px !important;
	font-weight: 400 !important;

	&:after {
		content: "";
		position: absolute;
		left: -2px;
		top: -2px;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		background: rgba( $black, .25 );
		visibility: hidden;
		opacity: 0;
		@include transition();
	}

	&:focus,
	&:hover {
		text-decoration: none;
	}

	&:hover {
		color: $white !important;
		background-color: $blue !important;
		border-color: $blue !important;
	}

	&:active {
		&:after {
			visibility: visible;
			opacity: 1;
		}
	}

	.stm-icon-arrow-right {
		font-size: 6px;
	}

	i, span {
		vertical-align: middle;
		margin-left: 7px !important;
	}
}

// Button - Blue Secondary
.btnBlueSecondary a {
	color: $dark-blue !important;

	&:hover {
		color: $white !important;
	}
}

// Link - Blue Secondary
.linkBlueSecondary {
	&.tp-caption a {
		color: $dark-blue;
		font-size: 16px;

		i, span {
			margin-left: 7px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.linkWhite {
	&.tp-caption a {
		color: $white;
		font-size: 16px;

		i, span {
			margin-left: 7px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

// Separator - Green
.separatorShortGreen {
	hr {
		width: 60px !important;
		border: 0 none !important;
		border-top: 2px solid $green !important;
	}
}

// Title H1 - Dark Blue
.TitleH1DarkBlue {
	color: $dark-blue !important;
}

// Text Background - Dark Blue
.textBgDarkBlue {
	background: rgba( $dark-blue, .85 ) !important;
}

// Full Height Background
.leftFullHeightBgDarkBlue {
	background-color: rgba( $dark-blue, .85 ) !important;
	min-width: inherit !important;
	max-width: inherit !important;
}

.hesperiden-pink {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 46px;
  transition: all 0.4s;
  border: 2px solid $pink;
  background: transparent;
  color: $lilac;
}

.hesperiden-pink:before {
  color: $lilac;
  font-size: 24px;
  line-height: 46px;
  transition: all 0.4s;
}

.hesperiden-pink:hover,
.hesperiden-pink:active,
.hesperiden-pink:focus {
  background: $pink;
}

.hesperiden-pink:hover:before,
.hesperiden-pink:active:before,
.hesperiden-pink:focus:before {
  color: #ffffff;
}

.tp-leftarrow.hesperiden-pink:before {
  margin-right: 3px;
}

.tp-rightarrow.hesperiden-pink:before {
  margin-left: 3px;
}