.select2-container,
.select2-container--default {
	width: 100% !important;

	.select2-choice,
	.select2-selection--single {
		height: 50px;
		border: 1px solid #e6e6e6;
		border-radius: 35px;
		padding: 0;

		.select2-chosen,
		.select2-selection__rendered {
			line-height: 46px;
			color: $dark-gray;
			padding-left: 24px;
		}

		.select2-arrow,
		.select2-selection__arrow {
			height: 48px;
			width: 50px;
            top: -12px;

			b {
				border: 0;
                position: relative;

              &:before {
                content: "\f107";
                font-family: "FontAwesome";
                color: $lilac;
              }
			}
		}
	}

	.select2-results__option[aria-selected=true] {
		background-color: transparent;
	}

	.select2-highlighted,
	.select2-results__option--highlighted[aria-selected] {
		background-color: $lilac;
        color: $white;
	}
}

.select2-container {
	.select2-choice {
		.select2-arrow {
			b {
				margin-left: 0;
				&:after {
					border: 5px solid transparent;
					border-top-color: #808080;
					margin: {
						left: -5px;
						top: -2px;
					}
				}
			}
		}

		> .select2-chosen {
			margin-right: 0;
		}
	}
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
	border-radius: 0;
	border: 1px solid #e6e6e6;
}

.select2-results__option {
	padding: 9px 23px;
	line-height: 24px;
	@include transition();
}

.select2-drop,
.select2-dropdown {
	border-radius: 0;
	border: 1px solid #e6e6e6;
}

.select2-drop.select2-drop-above.select2-drop-active {
	border-top: 1px solid #e6e6e6;
}

.select2-results {
	padding: 0;
	background: #fff;

	.select2-result {
		margin: 0;
		@include transition();
	}

	.select2-highlighted {
		border-radius: 0;
		color: $white;
		background-color: $lilac;
	}

	.select2-result-label {
		padding: 9px 20px;
		line-height: 24px;
	}
}

.select2-container--open {
  .select2-choice,
  .select2-selection--single {
    border-radius: 25px;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
  content: "\f106";
  font-family: "FontAwesome";
  color: $lilac;
}

.select2-container--open .select2-dropdown--below {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}

.select2-container--open .select2-dropdown--above {
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}