@media (max-width: 1199px) and (min-width: 992px) {
  .demo-buttons-group > .vc_column_container > .vc_column-inner[class*=vc_custom] {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (max-width: 767px) {
  .stm-btn-container,
  .stm-btn-big-container {
    text-align: center;
  }

  .stm-btn-big {
    display: inline-block;
    text-align: left;
  }

  .demo-buttons-group > .vc_column_container > .vc_column-inner[class*=vc_custom] {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}