$primary-font-family: 'Libre Baskerville', sans-serif;
$primary-font-size: 16px;

$black: #000;
$white: #fff;
$gray: #808080;

$light-gray: #999;
$lighter-gray: #8090a3;
$dark-gray: #595959;
$light-blue: #00aaff;;
$error: #ff0000;
$warning: #ff9900;
$very-dark-blue: #001935;

// Default
$green: #81ca00;
$blue: #3277ae;
$dark-blue: #002147;
$dark-red: #8c1515;

// Orange
//$green: #ff9600;
//$blue: #40b672;
//$dark-blue: #3a3a3a;

// Purple
//$green: #d9b121;
//$blue: #9071bf;
//$dark-blue: #38255d;

// Red
//$green: #d5946a;
//$blue: #bf0600;
//$dark-blue: #333333;
