.stm-big-container {
	@include clearfix();
}

.stm-btn-big-container_left {
	text-align: left;
}

.stm-btn-big-container_right {
	text-align: right;
}

.stm-btn-big-container_center {
	text-align: center;
}

.stm-btn-big-container_inline {
	display: inline-block;
	vertical-align: middle;
}

.stm-btn-big {
	position: relative;
	display: block;
	width: auto;
    border-radius: 25px;
	padding: 14px 29px 15px;
	white-space: nowrap;
	line-height: 1;
	vertical-align: top;
	@include transition();

	&:hover,
	&:focus {
		text-decoration: none;
	}

	i {
		@include transition();
		position: relative;
	}
}

.stm-btn-big__content {
	display: table;
	width: 100%;
}

.stm-btn-big__left {
	display: table-cell;
	vertical-align: middle;
}

.stm-btn-big__body {
	display: table-cell;
	vertical-align: middle;
}

.stm-btn-big__text {
    font-size: 18px;
    font-weight: 700;
	@include transition();
}

.stm-btn-big__secondary-text {
    display: block;
	margin-bottom: 3px;
	font-size: 16px;
	color: $gray;
	@include transition();
}

.stm-btn-big_icon-left {
	.stm-btn-big__body {
		padding-left: 14px;
	}
}

.stm-btn-big_icon-right {
	.stm-btn-big__body {
		padding-right: 34px;
	}
}

.stm-btn-big_outline {
	border-width: 2px;
	border-style: solid;
}

.stm-btn-big_blue {
	&.stm-btn-big_outline {
		background: transparent;
		border-color: #55caf5;
		color: $dark-blue;

		.stm-btn-big__text {
			color: #00acec;
		}

		.stm-btn-big__left i {
			color: #00acec;
		}

		.stm-btn-big__secondary-text {
			color: $gray;
		}

		&:hover {
			background: #55caf5;
			border-color: #55caf5;

			.stm-btn-big__left i,
			.stm-btn-big__text,
			.stm-btn-big__secondary-text {
				color: $white;
			}
		}

		&:active {
			background: #00acec;
			border-color: #00acec;

			.stm-btn-big__left i,
			.stm-btn-big__text,
			.stm-btn-big__secondary-text {
				color: $white;
			}
		}

		&.stm-btn-big_disabled,
		&.stm-btn-big_disabled:hover,
		&.stm-btn-big_disabled:active,
		&.stm-btn-big_disabled:focus {
			.stm-btn-big__left i,
			.stm-btn-big__text,
			.stm-btn-big__secondary-text {
				color: $light-gray;
			}

			border-color: #d9d9d9;
			background: transparent;
			cursor: not-allowed;
		}
	}

	&.stm-btn-big_flat {
		background: $blue;
		border-color: $blue;
        border-width: 2px;
        border-style: solid;

		.stm-btn-big__left i,
		.stm-btn-big__text,
		.stm-btn-big__secondary-text {
			color: $white;
		}

		&:hover {
			background: transparent;
			border-color: $blue;

			.stm-btn-big__left i {
				color: $blue;
			}

			.stm-btn-big__text {
				color: $dark-blue;
			}

			.stm-btn-big__secondary-text {
				color: $gray;
			}
		}

		&:active {
			background: $blue;
			border-color: $blue;

			.stm-btn-big__left i,
			.stm-btn-big__text,
			.stm-btn-big__secondary-text {
				color: $white;
			}

			&:after {
				visibility: visible;
				opacity: 1;
			}
		}

		&.stm-btn-big_disabled,
		&.stm-btn-big_disabled:hover,
		&.stm-btn-big_disabled:active,
		&.stm-btn-big_disabled:focus {
			.stm-btn-big__left i,
			.stm-btn-big__text,
			.stm-btn-big__secondary-text {
				color: $light-gray;
			}
			border-color: #d9d9d9;
			background: transparent;
			cursor: not-allowed;


			&:after {
				content: none;
			}
		}
	}
}

.stm-btn-big_light_blue {
  &.stm-btn-big_outline {
    background: transparent;
    border-color: $light-blue;
    color: $dark-blue;

    .stm-btn-big__text {
      color: $light-blue;
    }

    .stm-btn-big__left i {
      color: $light-blue;
    }

    .stm-btn-big__secondary-text {
      color: $gray;
    }

    &:hover {
      background: $light-blue;
      border-color: $light-blue;

      .stm-btn-big__left i,
      .stm-btn-big__text,
      .stm-btn-big__secondary-text {
        color: $white;
      }
    }

    &:active {
      background: $light-blue;
      border-color: $light-blue;

      .stm-btn-big__left i,
      .stm-btn-big__text,
      .stm-btn-big__secondary-text {
        color: $white;
      }
    }

    &.stm-btn-big_disabled,
    &.stm-btn-big_disabled:hover,
    &.stm-btn-big_disabled:active,
    &.stm-btn-big_disabled:focus {
      .stm-btn-big__left i,
      .stm-btn-big__text,
      .stm-btn-big__secondary-text {
        color: $light-gray;
      }

      border-color: #d9d9d9;
      background: transparent;
      cursor: not-allowed;
    }
  }

  &.stm-btn-big_flat {
    background: $light-blue;
    border-color: $light-blue;
    border-width: 2px;
    border-style: solid;

    .stm-btn-big__left i,
    .stm-btn-big__text,
    .stm-btn-big__secondary-text {
      color: $white;
    }

    &:hover {
      background: transparent;
      border-color: $light-blue;

      .stm-btn-big__left i {
        color: $light-blue;
      }

      .stm-btn-big__text {
        color: $dark-blue;
      }

      .stm-btn-big__secondary-text {
        color: $gray;
      }
    }

    &:active {
      background: $light-blue;
      border-color: $light-blue;

      .stm-btn-big__left i,
      .stm-btn-big__text,
      .stm-btn-big__secondary-text {
        color: $white;
      }

      &:after {
        visibility: visible;
        opacity: 1;
      }
    }

    &.stm-btn-big_disabled,
    &.stm-btn-big_disabled:hover,
    &.stm-btn-big_disabled:active,
    &.stm-btn-big_disabled:focus {
      .stm-btn-big__left i,
      .stm-btn-big__text,
      .stm-btn-big__secondary-text {
        color: $light-gray;
      }
      border-color: #d9d9d9;
      background: transparent;
      cursor: not-allowed;


      &:after {
        content: none;
      }
    }
  }
}