.join-event__title,
.comments-title,
.comment-reply-title {
  margin-bottom: 35px;
}

.comment-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .comment {
    float: left;
    width: 100%;
    border-top: 1px solid #dddddd;
    padding-top: 30px;
    margin-bottom: 30px;

    &.bypostauthor .avatar {
      border-radius: 0;
    }
  }

  .children {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 30px;
  }
}

// Comment
.comment__body {
  @include clearfix();
}

.comment__author-avatar {
  float: left;

  .alignnone {
    margin-top: 1px;
    margin-left: 20px;
  }

  img {
    border-radius: 50%;
  }
}

.comment__right {
  overflow: hidden;
  padding-left: 20px;
}

.comment__heading {
  margin-bottom: 7px;

  .comment__author-title {
    float: left;
  }

  .comment__meta {
    float: right;
  }

  @include clearfix();
}

.comment__author-title {
  font: {
    size: 15px;
    weight: 700;
  }
  color: $dark-blue;

  .fn {
    font-style: normal;
  }

  a {
    color: inherit;
    text-decoration: none;
    @include transition();

    &:hover {
      color: $blue;
    }
  }
}

.comment__meta {
  color: #aaaaaa;
  font-size: 13px;
  text-transform: none;
  font-family: 'Work Sans', sans-serif;

  a {
    color: inherit;
  }
}

.comment__meta-separator {
  margin: 0 1px;
}

.comment__reply {
  .fa {
    margin-right: 5px;
  }
}

.comment__content {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Work Sans', sans-serif;

  p {
    font-size: 14px;
    line-height: 24px;
  }
}

// Comment respond
.comment-respond {
  padding-top: 24px;

  .comment-reply-title {
    padding: 0 15px;
  }
}

.comment-respond__cancel-replay {
  float: right;
  a {
    padding: 7.5px 8px 6.5px;
    background: $white;
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
    line-height: 24px;
    color: #aaaaaa;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}

.comments-area {
  margin-top: 55px;
}

.single_posts__comments {
  .comment-reply-title,
  .logged-in-as {
    padding: 0 15px;
  }
}