.owl-controls {

  .owl-dots {
    text-align: center;

    .owl-dot {
      display: inline-block;
      margin: 0 11px;

      span {
        display: block;
        width: 8px;
        height: 8px;
        background: rgba( $white, .25 );
        border-radius: 50%;
        cursor: pointer;
        @include transition();
      }

      &:hover span {
        background: $green;
      }

      &.active span {
        background: $green;
        transform: scale(1.5);
      }
    }
  }
}

.owl-carousel .owl-item img {
  height: auto;
}