.list_social-networks {
  margin: 0 -4px;
  font-size: 0;

  .list__item {
    padding: 0 4px;
    font-size: $primary-font-size;
  }

  .list__item-link {
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: #b2b2b2;
    color: #002147;
    text-align: center;
    opacity: .7;
    @include transition();

    &:hover {
      color: #ffffff;
      opacity: 1;
    }
  }

  .list__item-link_facebook:hover {
    background: #3a5897;
  }

  .list__item-link_twitter:hover {
    background: #00aced;
  }

  .list__item-link_instagram:hover {
    background: #ac907a;
  }

  .list__item-link_google-plus:hover {
    background: #db4437;
  }

  .list__item-link_vimeo:hover {
    background: #44bbff;
  }

  .list__item-link_linkedin:hover {
    background: #0077b5;
  }

  .list__item-link_soundcloud:hover {
    background: #ff3a00;
  }

  .list__item-link_youtube:hover {
    background: #bb0000;
  }
}

.list_social-networks_simple {
  margin: 0 -4px;
  font-size: 0;

  .list__item {
    padding: 9px 4px;
    font-size: $primary-font-size;
  }

  .list__item-link {
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: $white;
    text-align: center;
    @include transition();

    &:hover {
      opacity: 1;
    }
  }
}