// Table
table {
  margin-bottom: 30px;
  font-size: 14px;

  thead th {
    padding: 8px 15px;
    background: $green;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: $white;
  }

  tbody {
    th,
    td {
      background: $white;
      padding: 13px 15px;
      border-bottom: 1px solid rgba($black, .15);
      font-size: 14px;
      line-height: 24px;
      color: $dark-gray;

    }
  }
}

// Route Schedule
.stm-route-schedule {
  width: 100%;

  td {
    background: $white;
    padding: 13px 15px;
    font-size: 14px;
    color: $dark-gray;
    line-height: 24px;
    border-bottom: 1px solid rgba($black, .15);
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.stm-table {
  width: 100%;
}

// Style 1
.stm-table_style-1 {
  width: 100%;

  th {
    background: $dark-blue;
    padding: 8px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    color: $white;

    &:last-child {
      text-align: right;
    }
  }

  td {
    background: $white;
    padding: 13px 15px;
    border-bottom: 1px solid rgba($black, .15);
    font-size: 14px;
    line-height: 24px;
    color: $dark-gray;

    &:last-child {
      text-align: center;
    }
  }

  .stm-table__heading {
    td {
      background: transparent;
      font-size: 16px;
      color: $dark-blue;
      text-align: left;
    }
  }
}

// Camps
.stm-table_camps {
  border-collapse: separate;

  th {
    width: 1%;
    font-weight: 400;
  }

  .stm-table__cell-title {
    text-transform: uppercase;
    color: $dark-blue;
  }

  td {
    padding: 16px 10px;
    vertical-align: top;

    &:first-child {
      border-left: 5px solid $green;
    }

    &:last-child {
      border-right: 1px solid rgba($black, .15);
      text-align: left;
    }
  }
}

//Courses
.stm-courses {
  td {
    color: #595959;

    a {
      color: $black;

      &:hover {
        color: $dark-red;
        text-decoration: none;
      }
    }
  }
}