// Pink
.stm-bg_color_pink {
	background-color: $pink !important;
}

.stm-background_color_pink {
	background-color: $pink !important;
}

.stm-border_color_pink {
	border-color: $pink !important;
}

.stm-font_color_pink {
	color: $pink !important;
}

.stm-border-bottom_color_pink {
	border-bottom-color: $pink !important;
}

// Yellow
.stm-bg_color_yellow {
	background-color: $yellow !important;
}

.stm-background_color_yellow {
	background-color: $yellow !important;
}

.stm-border_color_yellow {
	border-color: $yellow !important;
}

.stm-font_color_yellow {
	color: $yellow !important;
}

.stm-icon_color_yellow {
	color: $yellow !important;
}

.stm-border-bottom_color_yellow {
	border-bottom-color: $yellow !important;
}

// Lilac
.stm-bg_color_lilac {
  background-color: $lilac !important;
}

.stm-background_color_lilac {
  background-color: $lilac !important;
}

.stm-border_color_lilac {
  border-color: $lilac !important;
}

.stm-font_color_lilac {
  color: $lilac !important;
}

.stm-icon_color_lilac {
  color: $lilac !important;
}

.stm-border-bottom_color_lilac {
  border-bottom-color: $lilac !important;
}

// Gray
.stm-font_color_gray {
	color: $gray;
}

// Dark Gray
.stm-font_color_dark-gray {
	color: $dark-gray;
}