$primary-font-family: 'Dosis', sans-serif;
$primary-font-size: 18px;

$black: #000;
$white: #fff;
$gray: #808080;

$light-gray: #999;
$lighter-gray: #b8c0cc;
$dark-gray: #595959;
$light-blue: #34ccff;
$error: #ff0000;
$warning: #ff9900;
$orange: #ffaf40;
$green: #95cc47;
$blue: #62abf5;
$dark-blue: #011b3a;
$purpure: #bd66ff;

// Default
$pink: #ff6682;
$yellow: #ffdd00;
$lilac: #56509f;

// Orange
//$green: #ff9600;
//$blue: #40b672;
//$dark-blue: #3a3a3a;

// Purple
//$green: #d9b121;
//$blue: #9071bf;
//$dark-blue: #38255d;

// Red
//$green: #d5946a;
//$blue: #bf0600;
//$dark-blue: #333333;
